/* PRESET COLOR PALETTE FOR PROJECT */
:root {
    --background-color: #ffdde2;
    --header-color: #de369d;
    --text-color: #6f5e76; 
    --secondary-text-color: #ff8cc6;
    --secondary-background-color: #efd6d2;
}

/* BODY */
body {
    background-color: var(--background-color);
}

h1 {
    color: var(--header-color);
}