<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- USE FOR BODY PARAGRAPHS OR PHRASES font-family: "Zalando Sans", sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <!-- USE FOR SUBTITLES font-family: "Schoolbell", cursive; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

    <!-- USE FOR MAIN TITLE/SITE TILE font-family: "Barrio", system-ui;-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barrio&display=swap" rel="stylesheet">
</head>
<body>
    <!--HEADER: Information about the site; title, slogan, logo ... etc. -->
    <h1>CHALK & CRAFT</h1>

    <!--NAV BAR: Include Home/About/Products/Contact/Login/Sign Up-->
    <!--Carousel: Featured Projects-->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
</body>
</html>