<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--HEADER: Information about the site; title, slogan, Featured project to buy, logo ... etc. -->
    <h1>CHALK & CRAFT</h1>
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
</body>
</html>